<h1 class="p-5">Admin dashboard to add Teams.</h1>
<form [formGroup]="formGroup">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="" class="form-label">Name</label>
        <input type="form-control" class="form-control" placeholder="Name" formControlName="name" [ngClass]="{
          'is-invalid':
            formGroup.get('name')?.status == 'INVALID' &&
            formGroup.get('name')?.touched
        }" />
        <div class="invalid-feedback" *ngIf="formGroup.get('name')?.errors">
          Required
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <label for="" class="form-label">Category</label>
        <input type="form-control" class="form-control" placeholder="Category" formControlName="category" [ngClass]="{
          'is-invalid':
            formGroup.get('category')?.status == 'INVALID' &&
            formGroup.get('category')?.touched
        }" />
        <div class="invalid-feedback" *ngIf="formGroup.get('category')?.errors">
          Required
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="" class="form-label">Average Match Points</label>
        <input type="number" class="form-control" min="0" placeholder="Average Match Points"
          formControlName="avgPointsMatch" [ngClass]="{
            'is-invalid':
              formGroup.get('avgPointsMatch')?.status == 'INVALID' &&
              formGroup.get('avgPointsMatch')?.touched
          }" />
        <div class="invalid-feedback" *ngIf="formGroup.get('avgPointsMatch')?.errors">
          Required
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <label for="" class="form-label">Loses</label>
        <input type="number" class="form-control" min="0" placeholder="Lost Matches" formControlName="loses" [ngClass]="{
          'is-invalid':
            formGroup.get('loses')?.status == 'INVALID' &&
            formGroup.get('loses')?.touched
        }" />
        <div class="invalid-feedback" *ngIf="formGroup.get('loses')?.errors">
          Required
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="" class="form-label">Wins</label>
        <input type="number" class="form-control" min="0" placeholder="Won Matches" formControlName="wins" [ngClass]="{
          'is-invalid':
            formGroup.get('wins')?.status == 'INVALID' &&
            formGroup.get('wins')?.touched
        }" />
        <div class="invalid-feedback" *ngIf="formGroup.get('wins')?.errors">
          Required
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <label for="" class="form-label">Draws</label>
        <input type="number" class="form-control" min="0" placeholder="Drawn Matches" formControlName="draws" [ngClass]="{
          'is-invalid':
            formGroup.get('draws')?.status == 'INVALID' &&
            formGroup.get('draws')?.touched
        }" />
        <div class="invalid-feedback" *ngIf="formGroup.get('draws')?.errors">
          Required
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="teamLogo" class="form-label">Choose team logo</label>
        <select class="form-select" aria-label="Default select example" formControlName="teamLogo" [ngClass]="{
  'is-invalid':
    formGroup.get('teamLogo')?.status == 'INVALID' &&
    formGroup.get('teamLogo')?.touched
}">
          <div class="invalid-feedback" *ngIf="formGroup.get('teamLogo')?.errors">
            Required
          </div>
          <option value="../../../assets/images/Washington.png">Washington</option>
          <option value="../../../assets/images/SacramentoKings.png">Sacramento Kings</option>
          <option value="../../../assets/images/newOrleans.png">New Orleans</option>
          <option value="../../../assets/images/indiana.png">Indiana</option>
          <option value="../../../assets/images/Chicago_Bulls.png">Chicago Bulls</option>
          <option value="../../../assets/images/Atlanta_Hawks_logo.svg.png">Atlanta Hawks</option>
          <option value="../../../assets/images/download (1).png">Boston</option>
        </select>
      </div>
    </div>
    <button class="btn btn-warning" (click)="submitTeamData()" *ngIf="id == 0">
      Add Team
    </button>
    <button class="btn btn-warning" (click)="submitTeamData()" *ngIf="id !== 0">
      Edit Team
    </button>
    <button class="btn btn-warning" style="margin-left: 15px;" (click)="formGroup.reset()">Reset</button>
  </div>
</form>