<div class="container mt-5">
    <div class="row">
        <div class="col-md-10 mb-3">
            <h1>Admin dashboard to add News.</h1>
        </div>
        <div class="col-md-2 mb-3">
            <a href="/news-list"><button type="submit" class="btn btn-outline-primary" data-mdb-ripple-color="dark">News
                    page</button></a>
        </div>
    </div>
</div>
<form [formGroup]="formGroup">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="image" class="form-label">Choose image for the news</label>
                <select class="form-select" aria-label="Default select example" formControlName="image" [ngClass]="{
          'is-invalid':
            formGroup.get('image')?.status == 'INVALID' &&
            formGroup.get('image')?.touched
        }">
                    <option selected>Open this select menu</option>
                    <option value="../../../assets/NewsImages/news1.jpg">Image One</option>
                    <option value="../../../assets/NewsImages/news2.jpg">Image Two</option>
                    <option value="../../../assets/NewsImages/news3.jpg">Image Three</option>
                    <option value="../../../assets/NewsImages/news4.jpg">Image Four</option>
                    <option value="../../../assets/NewsImages/news5.jpg">Image Five</option>
                    <option value="../../../assets/NewsImages/news6.jpg">Image Six</option>
                    <option value="../../../assets/NewsImages/news7.jpg">Image Seven</option>
                </select>
            </div>
            <div class="invalid-feedback" *ngIf="formGroup.get('image')?.errors">
                Required
            </div>
            <div class="col-md-6 mb-3">
                <label for="title" class="form-label">Enter news title</label>
                <input type="text" class="form-control" id="" placeholder="News title" formControlName="title"
                    [ngClass]="{
                    'is-invalid':
                      formGroup.get('title')?.status == 'INVALID' &&
                      formGroup.get('title')?.touched
                  }">
            </div>
            <div class="invalid-feedback" *ngIf="formGroup.get('title')?.errors">
                Required
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="description" class="form-label">News description</label>
                <textarea class="form-control" id="" rows="3" formControlName="description" required [ngClass]="{
                    'is-invalid':
                      formGroup.get('description')?.status == 'INVALID' &&
                      formGroup.get('description')?.touched
                  }"></textarea>
            </div>
            <div class="invalid-feedback" *ngIf="formGroup.get('description')?.errors">
                Required
            </div>
            <div class="col-md-6 mb-3">
                <label for="link" class="form-label">Enter news link</label>
                <input type="text" class="form-control" id="" placeholder="News link" formControlName="link" required
                    [ngClass]="{
                    'is-invalid':
                      formGroup.get('link')?.status == 'INVALID' &&
                      formGroup.get('link')?.touched
                  }">
            </div>
            <div class="invalid-feedback" *ngIf="formGroup.get('link')?.errors">
                Required
            </div>
        </div>
        <button class="btn btn-warning" type="submit" (click)="submitNewsData()">Add
            News</button>
        <button class="btn btn-warning" style="margin-left: 15px;" (click)="formGroup.reset()">Reset</button>
    </div>
</form>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h3 class="mb-3">News table</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Title</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody *ngFor="let newsData of newsTableData">
                    <tr>
                        <th scope="row">{{newsData.id}}</th>
                        <td>{{newsData.title}}</td>
                        <td><button class="btn btn-danger" (click)="deleteNewsData(newsData.id??0)">X</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
