.nav-item{
    padding: 0px 10px;
}

.container-fluid{
    margin-left: 20px;
}

.search-nav{
    width: 15px;
}

.sections::after {
    content: "";
    width: 0%;
    height: 4px;
    background: #1400c4;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.sections:hover::after{
    width: 100%;
    color: aliceblue;
}

.navbar-toggler{
    margin-right: 100%;
}
