<app-navbar></app-navbar>

<h1 class="text-center m-5">Matches table</h1>

<div class="container" style="width: 700px">
  <div *ngFor="let match of matches">
    <div class="card mb-3 text-center">
      <div class="card-body row d-flex justify-content-evenly">
        <div class="col-sm-1">
          <img [src]="getLogo(match.homeTeam)" style="width: 50px" />
        </div>
        <div class="col-sm-2">
          <span>{{ match.homeTeam }}</span>
        </div>
        <div class="col-sm-2">
          <span>{{ match.goalsHome }} - <span>{{ match.goalsAway }}</span></span>
        </div>
        <div class="col-sm-2">
          <span>{{ match.awayTeam }}</span>
        </div>
        <div class="col-sm-1">
          <img [src]="getLogo(match.awayTeam)" style="width: 50px" />
        </div>
        <div class="col-sm-2">
          <span>{{ match.matchTime }}</span>
        </div>
      </div>
    </div>
  </div>
  <a href="/admin/match-admin"><button type="submit" class="btn btn-outline-primary mb-3" data-mdb-ripple-color="dark">
      Add match
    </button></a>
</div>

<app-footer></app-footer>