<app-navbar></app-navbar>
<div class="body">
  <div class="header">
    <h3>2021-22 NBA Standings</h3>
  </div>

  <div class="centertable">
    <div class="tableone">
      <div class="container table-responsive py-5">
        <table class="table table-bordered table-hover">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Eastern Conference</th>
              <th scope="col">W</th>
              <th scope="col">L</th>
              <th scope="col">W/L%</th>
              <th scope="col">GP</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Miami Heat*</th>
              <td>29</td>
              <td>25</td>
              <td>.646</td>
              <td>—</td>
            </tr>
            <tr>
              <th scope="row">Boston Celtics*</th>
              <td>51</td>
              <td>31</td>
              <td>.622</td>
              <td>2.0</td>
            </tr>
            <tr>
              <th scope="row">Milwaukee Bucks*</th>
              <td>51</td>
              <td>31</td>
              <td>.622</td>
              <td>2.0</td>
            </tr>
            <tr>
              <th scope="row">Philadelphia 76ers*</th>
              <td>51</td>
              <td>31</td>
              <td>.622</td>
              <td>2.0</td>
            </tr>
            <tr>
              <th scope="row">Toronto Raptors*</th>
              <td>48</td>
              <td>34</td>
              <td>.535</td>
              <td>5.0</td>
            </tr>
            <tr>
              <th scope="row">Chicago Bulls*</th>
              <td>36</td>
              <td> 46 </td>
              <td>.535</td>
              <td>7.0</td>
            </tr>
            <tr>
              <th scope="row">Atlanta Hawks*</th>
              <td>43</td>
              <td>39</td>
              <td>.524</td>
              <td>10.0</td>
            </tr>
            <tr>
              <th scope="row">New York Knicks*</th>
              <td>37</td>
              <td>45</td>
              <td>.451</td>
              <td>16.0</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="tabletow">
      <div class="container table-responsive py-5">
        <table class="table table-bordered table-hover ">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Eastern Conference</th>
              <th scope="col">W</th>
              <th scope="col">L</th>
              <th scope="col">W/L%</th>
              <th scope="col">GP</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Miami Heat*</th>
              <td>29</td>
              <td>25</td>
              <td>.646</td>
              <td>—</td>
            </tr>
            <tr>
              <th scope="row">Boston Celtics*</th>
              <td>51</td>
              <td>31</td>
              <td>.622</td>
              <td>2.0</td>
            </tr>
            <tr>
              <th scope="row">Milwaukee Bucks*</th>
              <td>51</td>
              <td>31</td>
              <td>.622</td>
              <td>2.0</td>
            </tr>
            <tr>
              <th scope="row">Philadelphia 76ers*</th>
              <td>51</td>
              <td>31</td>
              <td>.622</td>
              <td>2.0</td>
            </tr>
            <tr>
              <th scope="row">Toronto Raptors*</th>
              <td>48</td>
              <td>34</td>
              <td>.535</td>
              <td>5.0</td>
            </tr>
            <tr>
              <th scope="row">Chicago Bulls*</th>
              <td>36</td>
              <td> 46 </td>
              <td>.535</td>
              <td>7.0</td>
            </tr>
            <tr>
              <th scope="row">Atlanta Hawks*</th>
              <td>43</td>
              <td>39</td>
              <td>.524</td>
              <td>10.0</td>
            </tr>
            <tr>
              <th scope="row">New York Knicks*</th>
              <td>37</td>
              <td>45</td>
              <td>.451</td>
              <td>16.0</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>



    <div class="video">
      <iframe width="300" height="365" src="https://www.youtube.com/embed/7tXIE33_e8E" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
     gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

  </div>

  <div class="container d-flex justify-content-center py-5">
    <img
      src="https://th.bing.com/th/id/R.3336a387f16d1b0c7c5abae3b3f0fb18?rik=CRT4RVkM3XEYRQ&riu=http%3a%2f%2finternational.kstu.edu.tr%2fwp-content%2fuploads%2f2020%2f05%2fcoronavirus-information-web-banner-1672x213px-012.jpg&ehk=CflVYqip1vhixwtg7zzVzl9DkNEIBJJsoZtjt4b3kJ0%3d&risl=&pid=ImgRaw&r=0"
      width="1000" height="100" padding="20px">
  </div>


</div>
<app-footer></app-footer>