<div class="container">
  <h5>Weekly Basketball Hottest Match</h5>
  <img
    class="background"
    src="../../assets/images/background1.jpg"
    alt="background"
  />
  <div class="matches">
    <img
      class="weeklyMatches pistons"
      src="../../assets/images/Pistons.png"
      alt="pistons"
    />
    <h6 class="vs">VS</h6>
    <img
      class="weeklyMatches indiana"
      src="../../assets/images/indiana.png"
      alt="indiana"
    />
    <p class="time"><i class="fa-regular fa-clock"></i> 5:00 PM</p>
    <p class="location">
      <i class="fa-sharp fa-solid fa-location-dot"></i> Tirana
    </p>
  </div>

  <h6>Latest Matches</h6>

  <div class="latest-matches">
    <div class="teams">
      <div class="info">
        <img
          class="team-image"
          src="../../assets/images/newOrleans.png"
          alt=""
        />
        <p class="team-names">New Orleans</p>
        <strong>VS</strong>
        <p class="team-names">Philadelphia</p>
        <img
          class="team-image"
          src="../../assets/images/Philadelphia_76ers_logo.svg.png"
          alt="team"
        />
        <p class="time-location">5 : 00 London</p>
        <a class="second-details" href="#">View Details</a>
      </div>
    </div>
    <div class="teams">
      <div class="info">
        <img class="team-image" src="../../assets/images/Pistons.png" alt="" />
        <p class="team-names">Pistons</p>
        <strong>VS</strong>
        <p class="team-names">Chicago Bulls</p>
        <img
          class="team-image"
          src="../../assets/images/Chicago_Bulls.png"
          alt="team"
        />
        <p class="time-location">5 : 00 London</p>
        <a class="third-details" href="#">View Details</a>
      </div>
    </div>
    <div class="teams">
      <div class="info">
        <img
          class="team-image"
          src="../../assets/images/Milwaukee_Bucks_logo.svg.png"
          alt=""
        />
        <p class="team-names">Milwaukee Bucks</p>
        <strong>VS</strong>
        <p class="team-names">Atlanta Hawks</p>
        <img
          class="team-image"
          src="../../assets/images/Atlanta_Hawks_logo.svg.png"
          alt="team"
        />
        <p class="time-location">5 : 00 London</p>
        <a class="fourth-details" href="#">View Details</a>
      </div>
    </div>
    <div class="teams">
      <div class="info">
        <img
          class="team-image"
          src="../../assets/images/Washington.png"
          alt="team"
        />
        <p class="team-names">Washington</p>
        <strong>VS</strong>
        <p class="team-names">Indiana</p>
        <img
          class="team-image"
          src="../../assets/images/indiana.png"
          alt="team"
        />
        <p class="time-location">5 : 00 London</p>
        <a class="first-details" href="#">View Details</a>
      </div>
    </div>
  </div>
</div>
