.container{
    background-color: white;
    width: 270px;
    height: 90%;
}

.title{
    margin: 10px;
    padding-top: 20px;
}

/* Live Matches */


.live-match{
    display: flex;
    margin-top: 20px;
    margin-left: 30px;
}

.celtic{
    width: 60px;
}

.score{
    font-size: 25px;
    margin: 10px;
}

.philadelphia{
    width:60px;
}

@media screen and (max-width:744px) {

    .container{
        height: 100%;    
        margin-left: 30%;
    }
}
