<div class="container">
    <div class="matches">
    <h6>Live Matches <button class="previous">&#8249;</button> <button class="next">&#8250;</button></h6>
</div>
<hr>
<div class="live-match">
    <img src="../../assets/images/download (1).png" class="celtic" alt="Boston Celtic"> 
    <p class="score">3 : 1</p>
    <img src="../../assets/images/Philadelphia_76ers_logo.svg.png" class="philadelphia" alt="Philadelphia">
</div>
<div class="teams">
    <h6 class="team-h6">Teams</h6>
    <div class="images-div"><img src="../../assets/images/Washington.png" alt="Washington"> Washington  <a href="#" class="see-profile">See profile 🡆</a></div>
    <div class="images-div"><img src="../../assets/images/SacramentoKings.png" alt="SacramentoKings"> Sacramento Kings</div>
    <div class="images-div"><img src="../../assets/images/Pistons.png" alt="Pistons"> Pistons</div>
    <div class="images-div"><img src="../../assets/images/newOrleans.png" alt="New Orleans"> New Orleans</div>
    <div class="images-div"><img src="../../assets/images/indiana.png" alt="Indiana"> Indiana</div>
</div>
<div class="best-players">
    <h6>Best Players</h6>
    <div class="players-div"><img src="../../assets/images/player1.png" alt="Giannis"> Giannis</div>
    <div class="players-div"><img src="../../assets/images/player2.jpg" alt="Kevin"> Kevin Durant</div>
    <div class="players-div"><img src="../../assets/images/player3.jpg" alt="Stephen"> Stephen Curry</div>
</div>
</div>