<div class="container ro2">
    <div class="matches">
    <h6 class="title">Live Matches</h6>
</div>
<hr>
<div class="live-match">
    <img src="../../assets/images/download (1).png" class="celtic" alt="Boston Celtic"> 
    <p class="score">3 : 1</p>
    <img src="../../assets/images/Philadelphia_76ers_logo.svg.png" class="philadelphia" alt="Philadelphia">
</div>
<div class="teams">
    <h6 class="team-h6">Teams</h6>
    <div class="images-div"><img src="../../assets/images/Washington.png" alt="Washington"> Washington  <a href="#" class="see-profile">See profile 🡆</a></div>
    <div class="images-div"><img src="../../assets/images/SacramentoKings.png" alt="SacramentoKings"> Sacramento Kings <i class="fa-solid fa-chart-simple scarmetoIcon"></i></div>
    <div class="images-div"><img src="../../assets/images/Pistons.png" alt="Pistons"> Pistons <i class="fa-solid fa-chart-simple pistonsIcon"></i></div>
    <div class="images-div"><img src="../../assets/images/newOrleans.png" alt="New Orleans"> New Orleans <i class="fa-solid fa-chart-simple newOrleansIcon"></i></div>
    <div class="images-div"><img src="../../assets/images/indiana.png" alt="Indiana"> Indiana <i class="fa-solid fa-chart-simple indianaIcon"></i></div>
</div>
<div class="best-players">
    <h6>Best Players</h6>
    <div class="players-div"><img src="../../assets/images/player1.png" alt="Giannis"> Giannis <i class="fa-solid fa-basketball giannis">18</i></div>
    <div class="players-div"><img src="../../assets/images/player2.jpg" alt="Kevin"> Kevin Durant <i class="fa-solid fa-basketball kevin">15</i></div>
    <div class="players-div"><img src="../../assets/images/player3.jpg" alt="Stephen"> Stephen Curry <i class="fa-solid fa-basketball curry">13</i></div>
</div>
</div>