<h1 class="p-5">Admin dashboard to add Matches.</h1>
<form [formGroup]="formGroup">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="" class="form-label">Home Team</label>
        <input type="form-control" class="form-control" placeholder="Home Team" formControlName="homeTeam" [ngClass]="{
          'is-invalid':
            formGroup.get('homeTeam')?.status == 'INVALID' &&
            formGroup.get('homeTeam')?.touched
        }" />
      </div>
      <div class="col-md-6 mb-3">
        <label for="" class="form-label">Away Team</label>
        <input type="form-control" class="form-control" placeholder="Away Team" formControlName="awayTeam" [ngClass]="{
          'is-invalid':
            formGroup.get('awayTeam')?.status == 'INVALID' &&
            formGroup.get('awayTeam')?.touched
        }" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="" class="form-label">Goals Home</label>
        <input type="number" class="form-control" min="0" placeholder="Goals Home" formControlName="goalsHome"
          [ngClass]="{
          'is-invalid':
            formGroup.get('goalsHome')?.status == 'INVALID' &&
            formGroup.get('goalsHome')?.touched
        }" />
      </div>
      <div class="col-md-6 mb-3">
        <label for="" class="form-label">Goals Away</label>
        <input type="number" class="form-control" min="0" placeholder="Goals Away" formControlName="goalsAway" required
          [ngClass]="{
          'is-invalid':
            formGroup.get('goalsAway')?.status == 'INVALID' &&
            formGroup.get('goalsAway')?.touched
        }" />
      </div>
      <div class="col-md-6 mb-3">
        <label for="" class="form-label">Possession Home</label>
        <input type="number" class="form-control" min="0" placeholder="Possession Home" formControlName="possessionHome"
          required [ngClass]="{
            'is-invalid':
              formGroup.get('possessionHome')?.status == 'INVALID' &&
              formGroup.get('possessionHome')?.touched
          }" />
      </div>
      <div class="col-md-6 mb-3">
        <label for="" class="form-label">Possession Away</label>
        <input type="number" class="form-control" min="0" placeholder="Possession Away" formControlName="possessionAway"
          required [ngClass]="{
            'is-invalid':
              formGroup.get('possessionAway')?.status == 'INVALID' &&
              formGroup.get('possessionAway')?.touched
          }" />
      </div>
    </div>
    <button class="btn btn-warning" (click)="submitMatchData()" *ngIf="id==0"> Add Match
    </button>
    <button class="btn btn-warning" (click)="submitMatchData()" *ngIf="id!==0"> Edit Match
    </button>
  </div>
</form>